body {
  /*background: url(images/desert_sun.jpg);*/
  background: #38E2DD;
}

$space-large: 2.5rem;
$title-color: darkgray;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type=search] {
  box-shadow: none;
}
