$body-background: url('/images/mon_valley.jpg');

body {
  background: $body-background;
  background-size: cover;
}

$space-large: 2.5rem;
$title-color: #ffcc00;
$topbar-bg: #b30000;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.menu-text {
  color: #cc7a00;
}

.menu-color {
  background-color: #b30000;
}

.top-bar {
  background: $topbar-bg;
}
// .top-bar-left { fail
//   background-color: #b30000;
// }
// .menu
// {
//   background: $topbar-background;
// } fail

input[type=search] {
  box-shadow: none;
}
